/* Comment for the Github */
.container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: 0.3s;
}
h1{
    text-align: center;
    font-size: 100px;
}

.input {
    visibility: hidden;
}
.label {
    background-color: rgb(162, 172, 172);
    width: 300px;
    height: 150px;
    position: absolute;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 85px;
}
.circle {
    background-color: white;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    top: 5px;
    left: 6px;
    position: absolute;
    animation: close 0.4s linear forwards;
}
.input:checked + .label {
    background-color: white;
}
.input:checked + .label .circle {
    background-color: black;
    animation: open 0.4s linear forwards;
}
@keyframes open {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(150px);
    }
}
@keyframes close {
    0% {
        transform: translateX(150px);
    }
    100% {
        transform: translateX(0);
    }
}